[Unit]
Description=Confd
Before=rsyslog.service

[Service]
Type=oneshot
EnvironmentFile=/etc/docker.env
ExecStart=-/usr/local/bin/confd -onetime -confdir=/etc/confd -backend env

[Install]
WantedBy=basic.target
